@model WebUI.Models.UserRoleViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LandlordLayout.cshtml";
}

<script>  //todo remove script and move content in docu read to a seperate js
    @section DocumentReady
    {
    $('#addRole').click(function () {
        var selected = $('#AvailableRoleIdList option:selected');
        selected.prop('selected', false);
        $('#AvailableRoleIdList option:selected').remove();
        $('#CurrentRoleIdList').append(selected);
        //Sortit();
    });

    $('#removeRole').click(function () {
        var selected = $('#CurrentRoleIdList option:selected');
        selected.prop('selected', false);
        $('#CurrentRoleIdList option:selected').remove();
        $('#AvailableRoleIdList').append(selected);
    });

    $('#saveUserRole').click(function () {
        $('#CurrentRoleIdList option').prop('selected', true);
        $('#AvailableRoles option').prop('selected', true);
    });
    }
</script>

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>User</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.User.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.User.Id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User.Id)
                @Html.ValidationMessageFor(model => model.User.Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.User.UserName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User.UserName)
                @Html.ValidationMessageFor(model => model.User.UserName)
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <table>
            <tr>
                <td>
                    @Html.ListBoxFor(x => x.CurrentRoleIdList, Model.CurrentRoles, new {@class="form-control", style="width:100px;height:150px"})
                </td>
                <td>
                    <button type="button" class="btn btn-sm" id="addRole">&lt;==</button>
                    <br />
                    <br />
                    <button type="button" class="btn btn-sm" id="removeRole">==&gt;</button>
                </td>
                <td>
                    @Html.ListBoxFor(x => x.AvailableRoleIdList, Model.AvailableRoles, new { @class = "form-control", style = "width:100px;height:150px" })
                </td>
            </tr>
        </table>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" id="saveUserRole" value="Save" data-loading-text="Saving..." class="btn btn-default" />
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
