@model IEnumerable<LMate.BusinessObjects.Receipt>

@{
    ViewBag.Title = "All Receipts";
    Layout = "~/Views/Shared/_LandlordLayout.cshtml";
}

<h1>All Receipts</h1>

<p>@Html.ActionLink("Add a new receipt", "Create")</p>

<table class="Grid">
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>DatePurchased</th>
        <th class="NumericCol">Cost</th>
        <th>Actions</th>
    </tr>
    @foreach (var item in Model) {
        <tr>
            <td>@item.Id</td>
            <td>@Html.ActionLink(item.Description, "Edit", new { item.Id })</td>
            <td>@item.DatePurchased</td>
            <td class="NumericCol">@item.Cost.ToString("c")</td>
            <td>
                @using (Html.BeginForm("Delete", "Receipts"))
                {
                    @Html.Hidden("Id", item.Id)
                        <input type="submit" value="Delete"/>
                }
            </td>
        </tr>
    }
</table>