<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <!--[if lt IE 9]>
    <link href="~/Content/ie.css" type="text/css" rel="stylesheet" />
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div class="centerlised">
        <div id="header">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("LMateLogo", "Index", "Landlord")</p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
            </div>
        </div>
        <div class="clear-float" id="navigation">
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Dashboard", "Dashboard", "Landlord")</li>
                    <li>@Html.ActionLink("Receipts", "Index", "Receipts")</li>
                    <li>@Html.ActionLink("Rental Income", "Index", "RentalIncome")</li>
                    <li>@Html.ActionLink("Reports", "Contact", "Home")</li>
                    @*<li>@Html.ActionLink("Applicants", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Tasks", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Contracts", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Bonds", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Tenants", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Properties", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Inspections", "Contact", "Home")</li>*@
                </ul>
            </nav>
        </div>
        <div id="content">
            <section id="main" class="column">
                @if (TempData["message"] != null)
                {
                    <div class="Message">@TempData["message"]</div>
                }
                @RenderBody()
            </section>
        </div>
    </div>
    <footer id="footer">
        <div class="float-left">
            <p>&copy; @DateTime.Now.Year - LMate</p>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-ui")
    <script>
        @RenderSection("scripts", required: false);
        $(function () {
            @RenderSection("DocumentReady", required: false);
        });
    </script>
</body>
</html>
