@model LMate.BusinessObjects.Receipt

@{
    ViewBag.Title = "Edit" + @Model.Description;
    Layout = "~/Views/Shared/_LandlordLayout.cshtml";
}

<h1>Edit @Model.Description</h1>

@using (Html.BeginForm("Edit", "Receipts", FormMethod.Post, new { enctype = "multipart/form-data" })) {
    @Html.EditorForModel()

    <div class="editor-label">Image</div>
    <div class="editor-field">
        @if (Model.ImageData == null) {
            @:None
        } else {
            <img width="150" height="150"
                src="@Url.Action("GetImage", "Receipts", new { Model.ReceiptID })" />
        }
        <div>Upload new receipt image: <input type="file" name="Image" /></div>
    </div>
    
    <input type="submit" value="Save" />
    @Html.ActionLink("Cancel and return to List", "Index")
}
