@model LMate.WebUI.Models.UserRoleViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LandlordLayout.cshtml";
}

<script>
    @section pageLevelScripts
    {
    }

    @section DocumentReady
    {
        $('#addRole').click(function () {
            var selected = $('#AvailableRoles option:selected');
            $('#AvailableRoles option:selected').remove();
            $('#CurrentRoles').append(selected);
            //Sortit();
        });

        $('#removeRole').click(function () {
            var selected = $('#CurrentRoles option:selected');
            $('#CurrentRoles option:selected').remove();
            $('#AvailableRoles').append(selected);
        });

        //$('#GenreForm').click(function () {
        //    alert('in');
        //    // modifies the 'selected' options on the list 
        //    // before finally being submitted by the browser
        //    $('#CurrentRoles option').prop('selected', true);
        //    $('#AvailableRoles option').prop('selected', true);
        //});
    }
</script>

@{
    //var currentRolelist = Model.CurrentRoles.Select(role => new SelectListItem()
    //{
    //    Selected = false,
    //    Text = role.Name,
    //    Value = role.Name
    //}).ToList();

    //var availableRolelist =
    //    (from role in Model.AvailableRoles
    //     where Model.CurrentRoles.Exists(x => x.Id != role.Id)
    //     select new SelectListItem()
    //     {
    //         Selected = false,
    //         Text = role.Name,
    //         Value = role.Name
    //     }).ToList();
}

<h2>Edit</h2>

@using (Html.BeginForm(@Model.CurrentRoleIds))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>User</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.User.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.User.Id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User.Id)
                @Html.ValidationMessageFor(model => model.User.Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.User.UserName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User.UserName)
                @Html.ValidationMessageFor(model => model.User.UserName)
            </div>
        </div>


    </div>
    <div class="form-horizontal">
        <table>
            <tr>
                <td>
                    @*@Html.ListBox("currentRolelist", currentRolelist)*@
                    @*@Html.ListBoxFor(x => x.CurrentRoleIds,
                        Model.CurrentRoles.Select(role => new SelectListItem()
                        {
                            Selected = false,
                            Text = role.Name,
                            Value = role.Name
                        }).ToList())*@
                    @Html.ListBoxFor(x => x.CurrentRoles, Model.CurrentRoles, new {Multiple = "multiple"});
                </td>
                <td>
                    <button type="button" class="btn btn-sm" id="addRole">&lt;==</button>
                    <br />
                    <br />
                    <button type="button" class="btn btn-sm" id="removeRole">==&gt;</button>
                </td>
                <td>
                    @*@Html.ListBox("availableRolelist", availableRolelist)*@
                    @Html.ListBoxFor(x => x.AvailableRoles,
                        (from role in Model.AvailableRoles
                            //where Model.CurrentRoles.Exists(x => x.Id != role.Id)
                            select new SelectListItem()
                            {
                                Selected = true,
                                Text = role.Name,
                                Value = role.Name
                            }).ToList(),
                            new {Multiple = "multiple"})
                </td>
            </tr>
        </table>
    </div>
            <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="GenreForm" value="Save" data-loading-text="Saving..." class="btn btn-default" />
            </div>
        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
