@using LMate.BusinessObjects
@model DepreciationBuilding

@{
    var depreciationMethondSelectList =
        new List<SelectListItem>()
        {
            new SelectListItem
            {
                Selected=false, Text = "Straight line method (SL)", Value = DepreciationMethod.StraightLineMethod.ToString()
            },
            new SelectListItem
            {
                Selected=false, Text = "Diminishing value method (DV)", Value = DepreciationMethod.DiminishingValueMethod.ToString()
            }
        };
}

<div>
    <table>
        <tr>
            <td>
                @Html.LabelFor(x => x.PurchaseDate)
            </td>
            <td>
                @Html.TextBoxFor(x => x.PurchaseDate)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.ConstructionMaterialsAndBuildingDescription)
            </td>
            <td>
                @Html.TextBoxFor(x => x.ConstructionMaterialsAndBuildingDescription)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.DepreciationMethond)
            </td>
            <td>
                @Html.DropDownListFor(x => x.DepreciationMethond, depreciationMethondSelectList)
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label(Model.DepreciationMethond == DepreciationMethod.StraightLineMethod
                ? "Cost of buildings (excluding cost of land)"
                : "Opening adjusted tax value")
            </td>
            <td>
                <span class="dollarSign">$</span>
                @Html.TextBoxFor(x => x.Value)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.RatePercentage)
            </td>
            <td>
                @Html.TextBoxFor(x => x.RatePercentage)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.DepreciationClaimed)
            </td>
            <td>
                @Html.TextBoxFor(x => x.DepreciationClaimed)
            </td>
        </tr>
        @if (Model.DepreciationMethond == DepreciationMethod.DiminishingValueMethod)
        {
            <tr>
                <td>
                    @Html.LabelFor(x => x.CloseingAdjustedTaxValue);
                </td>
                <td>
                    @Html.TextBoxFor(x => x.CloseingAdjustedTaxValue);
                </td>
            </tr>
        }
    </table>
</div>
