@model LMate.BusinessObjects.RentalIncomeDetail

<div>
    @Html.LabelFor(x=>x.YearEnded)
    @Html.TextBoxFor(x=>x.YearEnded)

    @Html.LabelFor(x => x.TaxUser.Name)
    @Html.TextBoxFor(x => x.TaxUser.Name)

    @Html.LabelFor(x => x.TaxUser.IRDNumber)
    @Html.TextBoxFor(x => x.TaxUser.IRDNumber)
    
    @Html.LabelFor(x => x.AddressOfPropertyRented)
    @Html.TextBoxFor(x => x.AddressOfPropertyRented)

    @Html.LabelFor(x => x.PeriodThePropertyWasAvailableForRenting)
    @Html.TextBoxFor(x => x.PeriodThePropertyWasAvailableForRenting)
</div>

