<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @RenderSection("Contents", required: false)
    @Scripts.Render("~/bundles/modernizr")

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="centerlised container">
        <div id="header">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("LMateLogo", "Index", "Dashboard")</p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
            </div>
        </div>
        <ul class="clear-float nav nav-tabs nav-justified" id="navigation">
            <li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
            <li>@Html.ActionLink("Receipts", "Index", "Receipts")</li>
            <li>@Html.ActionLink("Permissions", "Index", "Permission")</li>
            <li>@Html.ActionLink("Rental Income", "Index", "RentalIncome")</li>
            <li>@Html.ActionLink("Inbox", "Index", "Inbox")</li>
            <li>@Html.ActionLink("User", "Index", "Account")</li>
            <li>@Html.ActionLink("Role", "Index", "Role")</li>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            @*<li>@Html.ActionLink("Applicants", "Contact", "Home")</li>
                <li>@Html.ActionLink("Tasks", "Contact", "Home")</li>
                <li>@Html.ActionLink("Contracts", "Contact", "Home")</li>
                <li>@Html.ActionLink("Bonds", "Contact", "Home")</li>
                <li>@Html.ActionLink("Tenants", "Contact", "Home")</li>
                <li>@Html.ActionLink("Properties", "Contact", "Home")</li>
                <li>@Html.ActionLink("Inspections", "Contact", "Home")</li>*@
        </ul>
        <div id="content">
            <section id="main">
                @if (TempData["message"] != null)
                {
                    <div class="alert alert-success">@TempData["message"]</div>
                }
                @RenderBody()
            </section>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
    <script>
        ////not sure why this function has to be in the _layout area not here
        //function Sortit() {
        //            var $r = $("#currentRolelist option");
        //            $r.sort(function (a, b) {
        //                if (a.text < b.text) return -1;
        //                if (a.text == b.text) return 0;
        //                return 1;
        //            });
        //            $($r).remove();
        //            $("#currentRolelist").append($($r));
        //        }

        $(function () {
            var controlerName = window.location.pathname.split('/');
            //alert(window.location.pathname + '\r\n/'+ controlerName[1]);
            $('#navigation li').removeClass('active');
            $('#navigation li a[href="/' + controlerName[1] + '"]').parent().addClass('active');

            //stateful button
            $(':input[data-loading-text]').click(function () {
                var btn = $(this);
                btn.button('loading');
                setTimeout(function () {
                    btn.button('reset');
                }, 3000);
            });

            @RenderSection("DocumentReady", required: false)
            
        });
    </script>
</body>
</html>
