<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <title>@ViewBag.Title - LMate</title>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    @Styles.Render("~/Content/frontpage")
    @RenderSection("Contents", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="centerlised container">
        <div id="header">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("LMateLogo", "Index", "Dashboard")</p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
            </div>
        </div>
        <div class="clear-float navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">LMate</a>
            </div>
            <div class="navbar-collapse collapse" id="navigation">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Role", "Index", "Role")</li>
                    <li>@Html.ActionLink("User", "Index", "Account")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Super"))
                        {
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        }
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @Html.Partial("_LoginPartial")
                    <li class="active"><a href="./">Default</a></li>
                </ul>
            </div>
        </div>
        <div id="content">
            <section id="main">
                @RenderBody()
            </section>
        </div>
    </div>
    <footer id="footer">
        <div class="container">
            <p>&copy; @DateTime.Now.Year - LMate</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false);
    <script>
        $(function () {
            $('#navigation li').removeClass('active');
            $('#navigation li a[href="' + window.location.pathname + '"]').parent().addClass('active');

            @RenderSection("DocumentReady", required: false);
        });
    </script>
</body>
</html>
