@model BusinessObjects.RentalIncomeDetail

<div>
    <table>
        <tr>
            <td>
                @Html.LabelFor(x => x.TotalRents)
            </td>
            <td>
                <span class="dollarSign">$</span>
                @Html.TextBoxFor(x => x.TotalRents)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.OtherIncome)
            </td>
            <td>
                @Html.TextBoxFor(x => x.OtherIncomeSpecify)<br/>
                <span class="dollarSign">$</span>
                @Html.TextBoxFor(x => x.OtherIncome)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.GainOrLossOnDisposal)
            </td>
            <td>
                <span class="dollarSign">$</span>
                @Html.TextBoxFor(x => x.GainOrLossOnDisposal)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.TotalIncome)
            </td>
            <td>
                <span class="dollarSign">$</span>
                @Html.TextBoxFor(x => x.TotalIncome)
            </td>
        </tr>
    </table>
</div>
