@model BusinessObjects.RentalIncomeDetail

@{
    ViewBag.Title = "Edit" + @Model.YearEnded;
    Layout = "~/Views/Shared/_LandlordLayout.cshtml";
}

<h1>Edit @Model.YearEnded</h1>

@using (Html.BeginForm("Edit", "RentalIncome"))
{
    @*@Html.Partial("_TaxUserSection", @Model.TaxUser);*@
    @Html.Partial("_TaxUserDetails")

    <p>===========</p>

    @Html.Partial("_Income")

    <p>===========</p>

    @Html.Partial("_Expenses")

    <p>===========</p>

    @Html.Partial("_DepreciationOfBuildings", Model.DepreciationBuilding)
    
        <p>===========</p>

    @Html.Partial("_DepreciationOfAssets", Model.DepreciationAssets)

    @*@Html.EditorForModel()*@
    <input type="submit" value="Save" />
    @Html.ActionLink("Cancel and return to List", "Index")
}
